
<div style="height: 500px; background-color: #0dbdf6 !important;  " class="px-5 mt-5">
    <div class="row">
      <div class="col-md-3">
        <h4 style="margin-top: 30px; padding-top :2rem; padding-left: 2rem">Connect us here</h4>
        <p style="padding-left: 2rem; color: azure;">123 Street, Hyderabad, India</p>
        <p style="padding-left: 2rem; color: azure;">xyzinfo@example.com</p>
        <p style="padding-left: 2rem; color: azure;">+91 345 67890</p>
      </div>
      <div class="col-md-3">
        <h4 style="margin-top: 30px; padding-top :2rem; padding-left: 2rem">Content Links</h4>
        <p><a class="anchor" href="/">Home</a></p>
        <p><a class="anchor" href="/about">About Us</a></p>
        <p><a class="anchor" href="/classes">Services</a></p>
        <p><a class="anchor" href="/trainer">programmes</a></p>
        <p><a class="anchor" href="/trainer">Persenal Training</a></p>
        <p><a class="anchor" href="/trainer">Transerfermation Sessions</a></p>
        <p><a class="anchor" href="/trainer">Grpoup Training</a></p>
        <p><a class="anchor" href="/contact">Contact</a></p>
        <p><a class="anchor" href="/contact">Carriers</a></p>
        
      </div>
      
      <div class="col-md-3">
        <h4 style="margin-top: 30px; padding-top :2rem; padding-left: 2rem">Support</h4>
        <p><a class="anchor" href="/trainer">Persenal Training</a></p>
        <p><a class="anchor" href="/trainer">Transerfermation Sessions</a></p>
        <p><a class="anchor" href="/trainer">Grpoup Training</a></p>
        <p><a class="anchor" href="contact">Contact</a></p>
      </div>
      <div class="col-md-3">
        <h4 style="margin-top: 30px; padding-top :2rem; padding-left: 2rem">Follow Us</h4>
        <div class="d-inline-flex align-items-center py-2">
            <a class="btn btn-light btn-square rounded-circle me-2" href="">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn btn-light btn-square rounded-circle me-2" href="">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="btn btn-light btn-square rounded-circle me-2" href="">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="btn btn-light btn-square rounded-circle me-2" href="">
                <i class="fab fa-instagram"></i>
            </a>
           
        </div>
      </div>
    </div>
    <div style=" background-color: black; height: 2px; margin-top: 30px;">

    </div>
    <div style="margin-top: 10px; text-align: center;">
        <small>copyright @ 2023</small>

    </div>
</div>
  

   <!-- <div class="px-5 mt-5 bg-primary" style="min-height: 500px; background-color: #0dbdf6 !important; height: 500px;">
    <div class="row">
      <div class="col-md-3">
        <h4 class="mt-4">Connect with us</h4>
        <p class="text-light">123 Street, Hyderabad, India</p>
        <p class="text-light">xyzinfo@example.com</p>
        <p class="text-light">+91 345 67890</p>
      </div>
      <div class="col-md-3">
        <h4 class="mt-4">Content Links</h4>
        <p><a class="text-light" href="/">Home</a></p>
        <p><a class="text-light" href="/about">About Us</a></p>
        <p><a class="text-light" href="/classes">Services</a></p>
        <p><a class="text-light" href="/trainer">Programmes</a></p>
        <p><a class="text-light" href="/contact">Contact</a></p>
        <p><a class="text-light" href="/contact">Careers</a></p>
      </div>
      <div class="col-md-3">
        <h4 class="mt-4">Support</h4>
        <p><a class="text-light" href="/trainer">Personal Training</a></p>
        <p><a class="text-light" href="/trainer">Transformation Sessions</a></p>
        <p><a class="text-light" href="/trainer">Group Training</a></p>
        <p><a class="text-light" href="/contact">Contact</a></p>
      </div>
      <div class="col-md-3">
        <h4 class="mt-4">Follow Us</h4>
        <div class="d-flex align-items-center py-2">
          <a class="btn btn-light rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-light rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn btn-light rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
          <a class="btn btn-light rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <hr class="bg-light">
    <div class="text-center">
      <small class="text-light">© 2023. All rights reserved.</small>
    </div>
  </div>
   -->