
<div style="padding-top: 3rem;">

</div>
<div class="container-fluid p-5 " style="padding-top: 50px;" >
    <div class="row gx-5">
        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
            <div class="position-relative h-100">
                <div >
<img src="assets/images/fitness.jpg" style="height: 600px; width: 500px;" >
                    
                  </div>
                  
             </div>
        </div>
        <div class="col-lg-7">
            <div class="mb-4">
               
                <!-- <h1 class="display-5 text-uppercase mb-0 heading"style="color: #0dbdf6; " >Welcome to CHANNEL FITNESS</h1> -->
                <h1 class="display-5 text-uppercase mb-0 heading"style="color: #0dbdf6; " >About Our Team</h1>
                <h2>Trainer </h2>
            </div>
        
            <div style="margin-top: 30px;">
                <p>I started my fitness career operating for somebody else until I felt it had been time to start out my very own business as a private trainer/fitness master. Similar to the majority beginning a business I even have my share of challenges to beat. One in all it’s the very fact that nobody knew who I used to be and that I knew nobody after I started in Hyderabad. However, I trusted my instinct and that I knew I even have the talents and therefore the heart to try and do well within the fitness business. All I even have to try and do is take that opening.</p>
            
            <p>I am not only passionate about teaching fitness itself,but I am also passionate about motivating, inspiring, and helping people to achieve their fitness goals enjoyably. It didn’t take long for me to realize that this is what I was born to do. It is my calling. My approach is holistic, affordable, and fun for everyone. I’ll teach you how you can plan, prepare, and cook fresh organic food for your everyday diet. Eating healthily need not to be expensive. There’s a more robust and healthier method than going for affordable nutrition which is one amongst the causes of fatness. My program isn’t solely designed to assist people thin through food selections and exercise. The ultimate purpose of my program is to assist folks absolutely embrace a healthy fashion.</p>
           <h2>Trainer Specialisation</h2>
           <p>Fitness Education Workshop, Posture Correction, Transformation, Personality Development, Muscles Development, Muscles Strengthen, Pre Mettle Source Mall, Spondylitis, Slip Disc, Closer Shoulder, Cartica, Segment Pain, Knee Pain & Back Pain, Asthenias, Lifestyle Disease (Thyroid, BP, Hormonal In Balance), Elephant Leg, Vitamin D & C Efficiency, Odsicity, Infertility For Men & Women, Group Training.</p>
                <!-- <h6 class="display-2 text-uppercase mb-0">We are</h6>
        <p class="para">We are not only passionate about teaching fitness itself, but we are passionate about MOTIVATING,INSPIRING, AND HELPING PEOPLE TO ACHIEVE THEIR FITNESS GOALS ENJOYABLY.</p>
       
       
        <h6 class="display-3 text-uppercase mb-0">Our Operations</h6>
        <p class="para">Channel fitness operating with 100+ Private Trainer Fitness Master Who are Certified and Experienced  Trainers. </p>
        <h6 class="display-8 text-uppercase mb-0">Our Speciality</h6>
        <p class="para">We are the group of highly qualified masters in Phsiotherapist, Martial Arts ,Pain Management,Dietitian,Transformation and many more... </p>
        <h6 class="display-8 text-uppercase mb-0">Our Mission</h6>    
        <p class="para">Inspire folks to include fitness in their daily routine by making a seamless network of gyms and fitness studios. Fitness could be a basic of life that shouldn’t be overpriced or inaccessible.</p> -->
    </div>   
     </div>
    </div>
</div>
