
<div style="padding-top: 3rem;">

</div>


<div style="height: 1800px; background-color: black;">
  

<div>
 <h1 style="text-align: center; color: #0dbdf6; padding-top: 2rem; " class="heading">OUR SERVICES</h1>
</div>
<div class="trapezoid-card">
    <!-- <h2 class="text-uppercase p-0" style="text-align: center;">physiotherapy</h2> -->
    <h6 class="display-2 text-uppercase mb-0 p-3" style="text-align: center; font-size: 20px; ">physiotherapy</h6>
    
    <div style="background-color: #0dbdf6; height: 4px; width: 100px; margin-left: 33rem;"></div>
  
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-lg-5" >
                <img src="/assets/images/physiotherapist.jpg" class="image">
                

            </div>
            
            <div class="col-lg-6" style="margin-left: 20px;">
                <h6>Physiotherapy helps to restore movement and function when someone is affected by injury, illness or disability. It can also help to reduce your risk of injury or illness in the future. It takes a holistic approach that involves the patient directly in their own care.</h6>
<h6>we maintain health for people of all ages, helping patients to manage pain and prevent disease.</h6>
<h6>The profession helps to encourage development and facilitate recovery, enabling people to stay in work while helping them remain independent for as long as possible</h6>
<h6>At the core is the patient’s involvement in their own care, through education, awareness, empowerment and participation in their treatment.</h6>            
<h6>You can benefit from physiotherapy at any time in your life. Physiotherapy helps with back pain or sudden injury, managing long-term medical condition such as asthma, and in preparing for childbirth or a sporting event.</h6>
</div>

        </div>

    </div>

</div>



<div class="trapezoid-card">
    <!-- <h2 class="text-uppercase p-0" style="text-align: center;">physiotherapy</h2> -->
    <h6 class="display-2 text-uppercase mb-0 p-3" style="text-align: center; font-size: 20px; ">Martial Arts</h6>
    
    <div style="background-color: #0dbdf6; height: 4px; width: 100px; margin-left: 34rem;"></div>
  
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-lg-5" >
                <img src="/assets/images/martialarts.jpg" class="image">
                

            </div>
            
            <div class="col-lg-6" style="margin-left: 20px;">
                <h6>If you're eager to learn martial arts for fitness or fun self-defence, don't wait up. We know that when it comes to martial arts, it's important to learn from an experienced trainer. So we made you a list of the best martial arts schools in Hyderabad that are well spread across the city. </h6>
<h6>we maintain health for people of all ages, helping patients to manage pain and prevent disease.</h6>
<h6>The profession helps to encourage development and facilitate recovery, enabling people to stay in work while helping them remain independent for as long as possible</h6>
<h6>At the core is the patient’s involvement in their own care, through education, awareness, empowerment and participation in their treatment.</h6>            
<h6>You can benefit from physiotherapy at any time in your life. Physiotherapy helps with back pain or sudden injury, managing long-term medical condition such as asthma, and in preparing for childbirth or a sporting event.</h6>
</div>

        </div>

    </div>

</div>




<div class="trapezoid-card">
    <!-- <h2 class="text-uppercase p-0" style="text-align: center;">physiotherapy</h2> -->
    <h6 class="display-2 text-uppercase mb-0 p-3" style="text-align: center; font-size: 20px; ">Dietitian help</h6>
    
    <div style="background-color: #0dbdf6; height: 4px; width: 100px; margin-left: 34rem;"></div>
  
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-lg-5" >
                <img src="/assets/images/diet.jpg" class="image">
                

            </div>
            
            <div class="col-lg-6" style="margin-left: 20px;">
                <h6>Your health should be a main priority in your life, so don’t let it slip through the cracks. Deepika Chalasani will help you ensure that you stay on the right track to achieving all of your health goals. Whether you are looking to lose or manage weight, there are so many ways Deepika can help you do so. If you are looking for a Nutritionist in Hyderabad, take a look at the health services offered below, and do get in touch and change your life.</h6>
<h6>o lose weight one has to cut down on the calories without letting the body cut down the calories on its maintenance. To do this calorie deficit in the food should be covered by drawing the calories from fat stores. It is possible through  low GL foods.</h6>
<h6>One should realize that obesity has developed over several years and losing it also may also take time. So don’t fall prey to quick fixes and crash diets. Have realistic goals like losing 10 %. Consolidate the gains and then aim for losing some more.</h6>              
<!-- <h6>we maintain health for people of all ages, helping patients to manage pain and prevent disease.</h6>
<h6>The profession helps to encourage development and facilitate recovery, enabling people to stay in work while helping them remain independent for as long as possible</h6>
<h6>At the core is the patient’s involvement in their own care, through education, awareness, empowerment and participation in their treatment.</h6>            
<h6>You can benefit from physiotherapy at any time in your life. Physiotherapy helps with back pain or sudden injury, managing long-term medical condition such as asthma, and in preparing for childbirth or a sporting event.</h6> -->
</div>

        </div>

    </div>

</div>

    <button class="button">Join Now</button>



  
</div>

