
<div  style="padding-top: 3rem;">

</div>
<div class="container-fluid p-5 " style="padding-top: 50px;" >
    <div class="row gx-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="min-height: 500px;">
            <div class="position-relative h-100">
                <div >

                    <img [src]="currentImage" alt="Image" class="custom-image">
                  
                  </div>
                  
                <!-- <img class="position-absolute w-100 h-100 rounded" src="https://images.unsplash.com/photo-1603503363848-6952525df449?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zml0bmVzc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" style="object-fit: cover;"> -->
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-4">
               
                <h1 class="display-5 text-uppercase mb-0 heading"style="color: #0dbdf6; " >Welcome to CHANNEL FITNESS</h1>
                <h5 class="text-uppercase mt-3" >About Our Team</h5>
            </div>
            <!-- <h4 class="text-body mb-4">I’m guessing you’ve either ended up here from a quick google search for a personal trainer in Milton Keynes, via a recommendation from a friend, or navigated your way over from one of our hilarious, insightful & poignant social media posts </h4> -->
            <!-- <p class="mb-4">The Armoury Coaching Studio is a Small Group & 1-2-1 Personal Training Facility in Milton Keynes. We provide bespoke training, nutrition guidance and a mix of both accountability and community that strives to make fitness and health a valued and enjoyable part of your life, rather than a chore</p> -->
            <!-- <div class="rounded bg-dark p-5">
                <ul class="nav nav-pills justify-content-between mb-3">
                    <li class="nav-item w-50">
                        <a class="nav-link text-uppercase text-center w-100 active" data-bs-toggle="pill" href="#pills-1">About Us</a>
                    </li>
                    
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-1">
                        <p class="text-secondary mb-0">For over a decade we’ve been helping men and women achieve results they never thought were possible, often after years of frustration and empty promises from solutions they’d tried previously

                            We work with any man or woman that are willing to step up, and make a change</p>
                    </div>
                  
                </div>
            </div> -->

            <div style="margin-top: 30px;">
            <h6 class="display-2 text-uppercase mb-0">We are</h6>
        <p class="para">We are not only passionate about teaching fitness itself, but we are passionate about MOTIVATING,INSPIRING, AND HELPING PEOPLE TO ACHIEVE THEIR FITNESS GOALS ENJOYABLY.</p>
       
       
        <h6 class="display-3 text-uppercase mb-0">Our Operations</h6>
        <p class="para">Channel fitness operating with 100+ Private Trainer Fitness Master Who are Certified and Experienced  Trainers. </p>
        <h6 class="display-8 text-uppercase mb-0">Our Speciality</h6>
        <p class="para">We are the group of highly qualified masters in Phsiotherapist, Martial Arts ,Pain Management,Dietitian,Transformation and many more... </p>
        <h6 class="display-8 text-uppercase mb-0">Our Mission</h6>    
        <p class="para">Inspire folks to include fitness in their daily routine by making a seamless network of gyms and fitness studios. Fitness could be a basic of life that shouldn’t be overpriced or inaccessible.</p>
    </div>   
        <!-- <h6>TRANSFORM</h6>
                <p>In depth, live weekly live-coaching sessions will help you overcome challenges, make positive changes, and feel fabulous.
                </p>
                <h6> RENEW</h6>
                <p>We’ll create a plan that works for your lifestyle as you regain control, prioritise your wellbeing and make time to focus on you.</p>
                
                <h6> WEIGHT LOSS</h6>
               <p> Nothing motivates you more than making progress. Whilst weight loss may be your goal, we'll shift your focus to changing your health behaviours, habits and mindset. You'll feel stronger and have more energy than you've had in years.</p>
                
               <h6>  FEEL FABULOUS</h6>
               <p> No more miserable diets, fads and food guilt. Louise Parker’s life-changing programmes make you fall in love with your new lifestyle.</p> -->
        </div>
    </div>
</div>

<div style="height: 1800px; background-color: black;">
  

<div>
 <h1 style="text-align: center; color: #0dbdf6; padding-top: 2rem; " class="heading">WE SERVE</h1>
</div>
<div class="trapezoid-card">
    <!-- <h2 class="text-uppercase p-0" style="text-align: center;">physiotherapy</h2> -->
    <h6 class="display-2 text-uppercase mb-0 p-3" style="text-align: center; font-size: 20px; ">physiotherapy</h6>
    
    <div style="background-color: #0dbdf6; height: 4px; width: 100px; margin-left: 33rem;"></div>
  
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-lg-5" >
                <img src="/assets/images/physiotherapist.jpg" class="image">
                

            </div>
            
            <div class="col-lg-6" style="margin-left: 20px;">
                <h6>Physiotherapy helps to restore movement and function when someone is affected by injury, illness or disability. It can also help to reduce your risk of injury or illness in the future. It takes a holistic approach that involves the patient directly in their own care.</h6>
<h6>we maintain health for people of all ages, helping patients to manage pain and prevent disease.</h6>
<h6>The profession helps to encourage development and facilitate recovery, enabling people to stay in work while helping them remain independent for as long as possible</h6>
<h6>At the core is the patient’s involvement in their own care, through education, awareness, empowerment and participation in their treatment.</h6>            
<h6>You can benefit from physiotherapy at any time in your life. Physiotherapy helps with back pain or sudden injury, managing long-term medical condition such as asthma, and in preparing for childbirth or a sporting event.</h6>
</div>

        </div>

    </div>

</div>



<div class="trapezoid-card">
    <!-- <h2 class="text-uppercase p-0" style="text-align: center;">physiotherapy</h2> -->
    <h6 class="display-2 text-uppercase mb-0 p-3" style="text-align: center; font-size: 20px; ">Martial Arts</h6>
    
    <div style="background-color: #0dbdf6; height: 4px; width: 100px; margin-left: 34rem;"></div>
  
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-lg-5" >
                <img src="/assets/images/martialarts.jpg" class="image">
                

            </div>
            
            <div class="col-lg-6" style="margin-left: 20px;">
                <h6>If you're eager to learn martial arts for fitness or fun self-defence, don't wait up. We know that when it comes to martial arts, it's important to learn from an experienced trainer. So we made you a list of the best martial arts schools in Hyderabad that are well spread across the city. </h6>
<h6>we maintain health for people of all ages, helping patients to manage pain and prevent disease.</h6>
<h6>The profession helps to encourage development and facilitate recovery, enabling people to stay in work while helping them remain independent for as long as possible</h6>
<h6>At the core is the patient’s involvement in their own care, through education, awareness, empowerment and participation in their treatment.</h6>            
<h6>You can benefit from physiotherapy at any time in your life. Physiotherapy helps with back pain or sudden injury, managing long-term medical condition such as asthma, and in preparing for childbirth or a sporting event.</h6>
</div>

        </div>

    </div>

</div>




<div class="trapezoid-card">
    <!-- <h2 class="text-uppercase p-0" style="text-align: center;">physiotherapy</h2> -->
    <h6 class="display-2 text-uppercase mb-0 p-3" style="text-align: center; font-size: 20px; ">Dietitian help</h6>
    
    <div style="background-color: #0dbdf6; height: 4px; width: 100px; margin-left: 34rem;"></div>
  
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-lg-5" >
                <img src="/assets/images/diet.jpg" class="image">
                

            </div>
            
            <div class="col-lg-6" style="margin-left: 20px;">
                <h6>Your health should be a main priority in your life, so don’t let it slip through the cracks. Deepika Chalasani will help you ensure that you stay on the right track to achieving all of your health goals. Whether you are looking to lose or manage weight, there are so many ways Deepika can help you do so. If you are looking for a Nutritionist in Hyderabad, take a look at the health services offered below, and do get in touch and change your life.</h6>
<h6>o lose weight one has to cut down on the calories without letting the body cut down the calories on its maintenance. To do this calorie deficit in the food should be covered by drawing the calories from fat stores. It is possible through  low GL foods.</h6>
<h6>One should realize that obesity has developed over several years and losing it also may also take time. So don’t fall prey to quick fixes and crash diets. Have realistic goals like losing 10 %. Consolidate the gains and then aim for losing some more.</h6>              
<!-- <h6>we maintain health for people of all ages, helping patients to manage pain and prevent disease.</h6>
<h6>The profession helps to encourage development and facilitate recovery, enabling people to stay in work while helping them remain independent for as long as possible</h6>
<h6>At the core is the patient’s involvement in their own care, through education, awareness, empowerment and participation in their treatment.</h6>            
<h6>You can benefit from physiotherapy at any time in your life. Physiotherapy helps with back pain or sudden injury, managing long-term medical condition such as asthma, and in preparing for childbirth or a sporting event.</h6> -->
</div>

        </div>

    </div>

</div>

    <button class="button">Join Now</button>



  
</div>

